body{
    background-color: rgb(209, 47, 47);
    font-family: 'Baloo Bhaina 2', cursive;
}
#navbar{
    border: 2px solid red;
    display: flex;
    background: rgb(240, 48, 48);
    align-items: center;
    margin-top: -8px;
    width: 101%;
}
#logo{
    display: inline-block;
    height: 70px;
    width: 70px;
}
#manus{
    display: flex;
    list-style: none;
}
.manus{
    padding: 10px 20px;
}
.manus:hover{
    background-color: brown;
    border-radius: 10px;
}
.manus:visited{
    color: rgb(114, 29, 29);
}
ul li a{
    text-decoration: none;
}
#search-bar{
    float: right;
    height: 30px;
    width: 200px;
    border-radius: 20px solid rgb(240, 48, 48) ;
    margin-top: -55px;
}
#navbar::before{
    content: "";
    position: absolute;
    background: url(img1.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

} 
/* #section-img{
    position: relative;
    width: 100wh;
} */
#welcome-tag{
    /* border: 2px solid black; */
    /* height: 300px; */
    padding-left: 450px;
    padding-top: 120px; */
    
}
#welcome-para{
    /* border: 2px solid black; */
    margin-left: -240px; */
}
.btn{
    margin-left: 100px;
    background-color: red;
    color: #1d04e9;
    font-weight: bold;
}
.btn:hover{
    background-color: brown;
}
#services{
    text-align: center;
}
.container{
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    margin: 27px;
    height: 250px;
    width: 250px;
    background-color: rgb(163, 72, 72);
    animation: box 4s infinite;
    
}
@keyframes box{
    0%{
        background-color:rgb(235, 68, 68);
    }
    25%{
        background-color: rgb(146, 44, 44);
    }
    50%{
        background-color:rgb(134, 29, 29) ;
    }
    75%{
        background-color: rgb(184, 29, 29);
    }
    100%{
        background-color: rgb(235, 68, 68);  
    }
}
.container::before{
    content: "";
    position: absolute;
    background: url(img3.jpg) no-repeat center center/cover;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    margin-top:5px;
}
#clints{
    text-align: center;
}
.clints{
    height: 200px;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clint-name{
    height: 150px;
    width: 150px;
}
/* .clints::before{
    content: "";
    position: absolute;
    background: url(img4.jpg) no-repeat center center/cover;
    height: 183%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    margin-top: 316px;
} */
#contact-box{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#massege{
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
.form-style{
    padding: 8px 40px;
    border-radius: 10px;
    
}
#footer-tag{
    text-align: center;
}