body{
    color: red;
}
#login-form{
    /* border: 2px solid red ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#login-form::before{
    content: "";
    position: absolute;
    background: url(img3.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
.login{
    border: 2px solid red;
    display: flex;
    padding: 8px 40px; 
    border-radius: 8px;
}
.login-otp-button{
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
}
.login-otp-button:hover{
    background-color: brown;
}